<h1>Listing coyotes</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>


  <tbody>
    <% @coyotes.each do |coyote| %>
      <tr>
        <td><%= link_to 'Show', coyote %></td>
        <td><%= link_to 'Edit', edit_coyote_path(coyote) %></td>
        <td><%= link_to 'Destroy', coyote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coyote', new_coyote_path %>
